.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bingo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: grid;
  place-items: center;


}

.App-header {
  font-size: 65px;
  float:inline-start;
  color: white;
  text-align: center;
  position: absolute;
  top: 25%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  height: fit-content;
  margin: auto;
}

.App-link {
  color: #61dafb;
}